.login_container{
    width: 350px;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 30px;
    position: relative;
    top:6vh;
    left:40vw;
    background-color: white;
}
.signBox{
display: flex;
flex-direction: column;
font-size: 15px;
font-weight: 500;
color: #4a4a4a;
}
.logoSnap a img{
    border-radius: 5px;
    width: 131px;
    height: 36px;
    margin: 10px 0px 10px 5.3vw;
}
.signBox input{
    outline: none;
    border: none;
    margin: 8px 0px 35px 0px;
    font-size: 15px;
    border-bottom:1px solid #4a4a4a;
}
.login_btn button{
    width: 290px !important;
}
.newUser{
    margin:10px 0px 30px 6.8vw;
}

@media only screen and (max-width:600px){
    .login_container{
        top:20vh;
        left:6vw;
    }
    .logoMakeMyTrip a img{
        margin: 10px 0px 10px 19.5vw;
    }
    .newUser{
        margin:10px 0px 30px 19.5vw;
    }
}